.view{
    height: 100vh;
    width: 100%;
    padding: 0 60px;

}
.view-item{
    height: auto;
    width: 100%;
    margin: 10px 0;
}
.img-div{
   height: 70vh;
   width: auto;
   position: center center;
}
.desc{
    width: 40%;
    height: 20vh;
    padding-left: 20px;
    text-align: left;
    border-left: 1px solid;
}

@media screen and (max-width:480px){
    .view{
        padding: 0 20px;
    }
    .img-div{
        height: 50vh;
        width: 100%;
    }
    .desc{
        width: 100%;
        height: auto;
       margin-bottom: 20px;
    }
}