.wrapper{
    margin: 20px 0;
    /* height:50vh; */
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    
}
.data{
    height: 50vh;
    padding: 10px;
    background-color: rgba(247, 242, 242, 0.712);
    width: 100%;
    max-width: 20%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
}
.data h3{
    text-align: left;
    font-size: 23px;
  
}
.inner-div{
    height: 16vh;
    width: 50%;
    margin: auto;
}
.inner-div img{
    height: 100%;
    width: 100%;
}

@media screen and (min-width:320px )and (max-width:420px){
    .wrapper{
        padding: 0 20px;
    }
    .data{
        width: 100%;
        max-width: 100%;
        margin: 10px 0;
    }
}