.footer-wrapper{
    background-color: #232F3E;
    height: 50vh;
    color: white;
    display: flex;
    flex-wrap: wrap;
}
.footer-div{
    margin: 70px auto;
}
.footer-div ul li{
    opacity: 0.8;
    list-style-type: none;
    text-align: left;
}
.footer-div ul li:nth-child(1){
    opacity: 1;
}

@media screen and (min-width:320px) and (max-width:420px){
    .footer-wrapper{
        height: auto;
    }
    .footer-div{
        margin: 10px auto;
    }
}